### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:

import pandas as pd
import numpy as np

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data["SN"].nunique() 
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#number of unqiue items by searching by item ID, by using nunique

unique_items = purchase_data["Item ID"].nunique() 
unique_items

183

In [4]:
#calculate the average price, mean is average in python

avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [5]:
#number of purchases made, use count function
num_purchase = purchase_data["Purchase ID"].count()
num_purchase

780

In [6]:
# the total revenue, add everything up using the sum function 

total_purchase = purchase_data["Price"].sum() 
total_purchase

2379.77

In [7]:
# make table for the analysis 

purchase_analysis_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [avg_price],
    "Number of Purchases": [num_purchase],
    "Total Revenue": [total_purchase],
})
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:,.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
no_dup_players = purchase_data.drop_duplicates(['SN'], keep ='last')

#counts gender values from the df without duplicate screen names
gender_counts = no_dup_players['Gender'].value_counts().reset_index()

#column which is a count from line above
gender_counts['% of Players'] = gender_counts['Gender']/total_players * 100

#rename the  columns
gender_counts.rename(columns = {'index': 'Gender', 'Gender': '# of Players'}, inplace = True)

#sets index as Gender 
gender_counts.set_index(['Gender'], inplace = True)

#format table
gender_counts.style.format({"% of Players": "{:.1f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
dfg = purchase_data.groupby("Gender").SN.count()

dfg

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [96]:
#groups all the genders and gives u the count 

pur_count_by_gen = pd.DataFrame(purchase_data.groupby('Gender')['Gender'].count())

# sums price by  matching gender
total_pur_by_gen = pd.DataFrame(purchase_data.groupby('Gender')['Price'].sum())

#merges the two data frames from above
purchaseanalysis = pd.merge(pur_count_by_gen, total_pur_by_gen, left_index = True, right_index = True)

#renames  the columns
purchaseanalysis.rename(columns = {'Gender': '# of Purchases', 'Price':'Total Purchase Value'}, inplace=True)

#adds column for average purchase price by gender by dividing total purcahse value by gender by # of purchases by gender
purchaseanalysis['Average Purchase Price'] = purchaseanalysis['Total Purchase Value']/purchaseanalysis['# of Purchases']
#merges gender counts from above table (excluding dup SNs) into current df 
purchaseanalysis = pur_analysis_gen.merge(gender_counts, left_index = True, right_index = True)
# calculates and adds the total column by dividing total purchase value by the unqiue number of players 
purchaseanalysis['Normalized Totals'] = purchaseanalysis['Total Purchase Value']/purchaseanalysis['# of Players']
purchaseanalysis


purchaseanalysis.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}', 'Normalized Totals': '${:.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [30]:
#create bins 
bins = [0,9,14,19,24,29,34,39,50]
# label the bins 
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Get SN and Age variables from columns 1 and 2 for serial number and age 
age_df = purchase_data.iloc[:,[1,2]]

#drop the duplicates in the SN column  
age_df_no_multi_sn = age_df.drop_duplicates(subset=["SN"], keep="first", inplace=False)

#creates new columb age range, based upon age and the bins that are created above 
age_df_no_multi_sn ["Age_Range"] = pd.cut(selected_df2["Age"], bins, labels = bin_labels)

#sorts values from least to great for ages 
age_df_no_multi_sn.sort_values(by=["Age"], ascending=True, inplace=True)

#creates a group depending on how many times a selected age range occurs and puts it into the column of total count 
group = age_df_no_multi_sn.groupby(["Age_Range"]).size().to_frame(name= "Total Count").reset_index()

#take each cell in the column of total count and add them up to obtain the total number of players 
total_players = group["Total Count"].sum()

#divide group vairable by total and get percentage 
group["Percentage of Players"] = (group["Total Count"]/total_players)*100


group

/Users/amandeeparora/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/amandeeparora/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

  Age_Range  Total Count  Percentage of Players
0       <10           17               2.951389
1     10-14           22               3.819444
2     15-19          107              18.576389
3     20-24          258              44.791667
4     25-29           77              13.368056
5     30-34           52               9.027778
6     35-39           31               5.381944
7       40+           12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
bins = [0, 9, 14, 19, 24,29,34,39,46]

# Create labels for bins
group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34','35-39','40+']
pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

# Create GroupBy by the age group 
purchase_data_group = purchase_data.groupby("Age Group")

# Find count of rows in each bin
purchase_data_group_analysis = purchase_data_group["Price"].count()

#Average Purchase Price
groupage_purchaseprice = purchase_data_group["Price"].mean()

#Total Purchase Value
groupage_purchasevalue = purchase_data_group["Price"].sum()

#Avg Total Purchase per Person
groupage_purchaseper = purchase_data_group["SN"].nunique()


groupage_avgppp = groupage_purchasevalue/groupage_purchaseper


#data frame 
purchasing_analysis_age = pd.DataFrame({"Purchase Count":purchase_data_group_analysis,
                                     "Average Purchase Price":groupage_purchaseprice,
                                           "Total Purchase Value":groupage_purchasevalue,
                                       "Avg Total Purchase per Person":groupage_avgppp})
purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [68]:

# total number of purchase per person 
purchase_amt = pd.DataFrame(purchase_data.groupby('SN')['Price'].sum())
# number of purchases per person 
num_purchase = pd.DataFrame(purchase_data.groupby('SN')['Price'].count())
# average purchase person 
avg_purchase = pd.DataFrame(purchase_data.groupby('SN')['Price'].mean())


# merge the above data frames into one dataframe
merge = pd.merge(purchase_amt, num_purchase, left_index = True, right_index = True).merge(avg_purchase, left_index=True, right_index=True)
# rename the columns
merge.rename(columns = {'Price_x': 'Total Purchase Value', 'Price_y':'Purchase Count', 'Price':'Average Purchase Price'}, inplace = True)
# sort from highest purchase value to lowest
merge.sort_values('Total Purchase Value', ascending = False, inplace=True)

merge = merge.head()


merge.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [94]:


# Purchase Count
user_count = pd.DataFrame(purchase_data.groupby(["Item ID", "Item Name"])["Price"].count())

# Total Purchase Value
user_total = pd.DataFrame(purchase_data.groupby(["Item ID", "Item Name"])["Price"].sum())

# Item Price
user_average = pd.DataFrame(purchase_data.groupby(["Item ID", "Item Name"])["Price"].mean())


#create data frame 
table = pd.DataFrame({"Purchase Count": user_count ['Price'], 
                     "Item Price": user_average ['Price'],
                     "Total Purchase Value": user_total ['Price']})



table = table.sort_values("Purchase Count", ascending=False)




table[['Purchase Count','Item Price','Total Purchase Value']].head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
103,Singed Scalpel,8,4.35,34.80
75,Brutality Ivory Warmace,8,2.42,19.36
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32
59,"Lightning, Etcher of the King",8,4.23,33.84

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [95]:
# table2= table_x.sort_values("Total Purchase Value", ascending=False)
table2 = table.sort_values("Total Purchase Value", ascending =False)
table2.head(10)
# table.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80
59,"Lightning, Etcher of the King",8,4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
78,"Glimmer, Ender of the Moon",7,4.40,30.80
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32